<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/870c30ac6e.js" crossorigin="anonymous"></script>
        
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <title>Grupo Fono Bus</title>
    
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/JSCarousel.js"></script>

</head>
<body>
<header class="header">
        <!-- <div class="navbar"></div> -->
        <nav>
            <!-- logo -->
            <div id="logo">
                <a href="/">
                    <img src="/static/img/logo-fonobus-1.png" alt="Fono Bus">
                </a>
            </div>
        
            <!-- Hipervinculos para el menu -->
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <i class="fa fa-fw fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/acerca.html">
                        <i class="fa-solid fa-user"></i>
                        <span>Nosotros</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/pasajes.html">
                        <i class="fa-solid fa-bus"></i>
                        <span>Pasajes</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/contacto.html">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header> 
    <main>
        <div class="contenedorHistoriaFoto">
            <div class="contenedorHistoria">
                <h1>Nuestra Historia</h1>
                <p>Todo inicio en la década del ´70. No teníamos mucho, pero si un gran sueño: ser una gran empresa con un excelente servicio y un grandioso personal.</p>
                <p>Comienza nuestra historia en manos de Antonio Arcos. La empresa estaba ubicada en zona oeste del Gran Buenos Aires, en Moron. Realizando los primeros viajes a la ciudad de Mar del Plata.</p>
                <p>Para 1982 en Fono Bus comenzaron los viajes a Rosario y Cordoba. También se empezó a brindar un servicio turistico, asociandonos con hoteles y empresas de excursiones.</p>
                <p>Para los ´90 se comienzan a hacer nuevos recorridos a Roque Sáenz Peña - Chaco, J. B. Alberdi - Tucumán y Santiago del Estero. Tambien se renueva la flota, adquiriendo 10 vehiculos 0KM.</p>
                <p>Ya en el nuevo siglo se sumo el servicio de encomiendas, y servicios de pasajeros mas pequeños, "combis" con el recorrido Capital-GBA, y servicios especiales para empresas.</p>
            </div>
            <div class="contenedorImagenHistoria">
                <img src="/static/img/fotoHistoria.png" alt="fotoHistoria" width="80%" height="auto">
            </div>
        </div>
        <div class="contenedorUnidades">
            <div class="descripcionUnidades">
                <h1>Nuestras Unidades</h1>
                <p>Contamos para esto con unidades de 24, 40 y 46 asientos, totalmente confortables, de amplia bodega y sistema de aire acondicionado.</p>
                <p>Para seguridad y tranquilidad de nuestros clientes, tanto coches como conductores, cuentan con toda la documentación exigida por los organismos de control, provinciales y nacionales.</p>
            </div>
            <div class="contenedorImagenesUnidades">
                <img src="/static/img/interiores.jpg" alt="interiores" width="50%" height="auto">
            </div>
        </div>
    </main>   
</body>
</html>