<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/870c30ac6e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Acerca</title>
</head>


<header class="header">
    <div class="navbar">
      </div>
      
    <nav>
        <!-- Logo -->

        <div id="logo">
            <a href="/">
                <img src="/static/img/logo-fonobus-1.png" alt="Fono Bus">
            </a>
        </div>

        <!-- Items Menu -->
        <ul class="nav-links">
            
            <li><a href="/index.html"><i class="fa fa-fw fa-home"></i>Inicio</a></li>
            <li><a href="/templates/acerca.html"><i class="fa-solid fa-bus"></i>Acerca</a></li>
            <li><a href="/templates/contacto.html"><i class="fa fa-fw fa-envelope"></i>Contacto</a></li>
        
        </ul>
    </nav>
</header>
