<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/870c30ac6e.js" crossorigin="anonymous"></script>
        
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>Grupo Fono Bus</title>
    
    <link rel="stylesheet" href="/static/css/styles.css">

    <script type="text/javascript" src="/static/js/contacto.js"></script>
    
</head>
<body>
    <header class="header">
        <!-- <div class="navbar"></div> -->
        <nav>
            <!-- logo -->
            <div id="logo">
                <a href="./index.html">
                    <img src="/static/img/logo-fonobus-1.png" alt="Fono Bus">
                </a>
            </div>
        
            <!-- Hipervinculos para el menu -->
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <i class="fa fa-fw fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/acerca.html">
                        <i class="fa-solid fa-user"></i>
                        <span>Nosotros</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/pasajes.html">
                        <i class="fa-solid fa-bus"></i>
                        <span>Pasajes</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/contacto.html">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
<main class="mainContacto">
    <div class="wrap">
        <form id="contactForm">
            <div class="form-header">
                <h2>Contacto</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-user"></i> Informacion Personal</legend>
                    
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre"  >
                
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido"  >
    
                    <label for="direccion">Direccion</label>
                    <input type="text" id="direccion" name="direccion"  >
                    
                    <label for="cidudad">Ciudad</label>
                    <input type="text" id="ciudad" name="ciudad"  >
    
                    <label for="state">Uno-Dos-Tres</label>
                    <select id="state" name="state"  >
                        <option value=""></option>
                        <option value="1">Uno</option>
                        <option value="2">Dos</option>
                        <option value="3">Tres</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend><i class="fa fa-lock"></i> Informacion de Contacto</legend>
                
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"  >

                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono"  >

                    <label for="motivo">Motivo de contacto:</label>
            
                    <select id="motivo" name="motivo"  >
                        <option value="">Seleccione</option>
                        <option value="Consulta">Consulta</option>
                        <option value="Comentario">Comentario</option>
                        <option value="Solicitud">Solicitud</option>
                    </select>

                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje"  ></textarea>
            
                    <label for="adjunto">Adjuntar imagen:</label>
                    <input type="file" id="adjunto" name="adjunto" accept="image/*">
                </fieldset>
                <fieldset class="sub-opts">
                    <legend><i class="fa-solid fa-bus"></i> Tipo de servicio</legend>
                    
                    <input type="radio" name="subscription" value="free" id="free">
                    
                    <div class="sub-opt">
                        <label class="sub-label" for="free"><i class="fa fa-check"></i> Urbano </label>
                    </div>
    
                    <input type="radio" name="subscription" value="deluxe" id="deluxe"  >
                    
                    <div class="sub-opt">
                        <label class="sub-label" for="deluxe"><i class="fa fa-check"></i> Interurbano </label>
                    </div>
    
                    <input type="radio" name="subscription" value="premium" id="premium">
        
                    <div class="sub-opt">
                        <label class="sub-label" for="premium"><i class="fa fa-check"></i> Nacional </label>
                    </div>
                </fieldset>
            </div>
            <div class="form-footer">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</main>


<footer class="estiloFooter">
    <div class="localizacion">
        <div class="direccionTelefono">
            <p>Pte. Gral. Juan Domingo Peron 380 - Cordoba</p>
            <p>Tel: 0810 - 888 - 3666</p>
        </div>
        <iframe width="50%" height="auto" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Bv.%20Pero%20380%20Cordoba+(Fono%20Bus)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker sport</a></iframe>
    </div>
    <div class="contenedorRedes">
        <h2>Seguinos en:</h2>
        <div class="contenedorEnlacesRedes">
            <a href="https://www.facebook.com/GrupoFonoBus/?locale=es_LA">
                <i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i>
            </a>
            <a href="https://www.instagram.com/grupo_fono_bus/?hl=es">
                <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            </a>
            <a href="https://www.youtube.com/@grupofonobus9955">
                <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
            </a>
        </div>
    </div>
</footer>

</body>
</html>


