<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/870c30ac6e.js" crossorigin="anonymous"></script>
        
    <link rel="shortcut icon" href="/PracticoGrupo9/static/img/favicon.ico" type="image/x-icon">
    <title>Grupo Fono Bus</title>
    
    <link rel="stylesheet" href="/PracticoGrupo9/static/css/styles.css">

    <script type="text/javascript" src="."></script>
    
</head>
<body>
    <header class="header">
        <!-- <div class="navbar"></div> -->
        <nav>
            <!-- logo -->
            <div id="logo">
                <a href="/PracticoGrupo9/">
                    <img src="/PracticoGrupo9/static/img/logo-fonobus-1.png" alt="Fono Bus">
                </a>
            </div>
        
            <!-- Hipervinculos para el menu -->
            <ul class="nav-links">
                <li>
                    <a href="/PracticoGrupo9/index.html">
                        <i class="fa fa-fw fa-home"></i>
                        <span>Inicio</span>
                    </a>S
                </li>
                <li>
                    <a href="/PracticoGrupo9/templates/acerca.html">
                        <i class="fa-solid fa-user"></i>
                        <span>Nosotros</span>
                    </a>
                </li>
                <li>
                    <a href="/PracticoGrupo9/templates/pasajes.html">
                        <i class="fa-solid fa-bus"></i>
                        <span>Pasajes</span>
                    </a>
                </li>
                <li>
                    <a href="/PracticoGrupo9/templates/contacto.html">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="contenedorMainPasajes">
        <div class="contenedorPasajes">
            <h1>Elegi tu destino</h1>
        <div class="buscadorPasajes">
            <div class="contenedorBuscar">
                <input id="pasajeABuscar" type="text" class="estiloInput" size="40" maxlength="40">
                <button type="button" onclick="buscarPasaje()" class="estiloBoton">BUSCAR</button>
            </div>
        </div>
        <div>
            <table class="tablaPasajes">
                    <thead class="">
                        <tr class="">
                            <th class="">#</th>
                            <th class="">Destino</th>
                            <th class="">Salida</th>
                            <th class="">Tipo viaje</th>
                            <th class="">Pasajeros</th>
                        </tr>
                    </thead>
                    <tbody class="" id="tablaPasajesCuerpo">
                        
                    </tbody>
                </table>
        </div>
        <div class="contenedorBotonComprar">
            <button type="button" onclick="comprarPasaje()" class="estiloBoton">COMPRAR</button>
        </div>
        </div>
    </main> 
    
</body>
</html>